[submodule "godot"]
	path = godot
	url = https://github.com/theloosygoose/bball-sim-godot
[submodule "cpp-engine"]
	path = cpp-engine
	url = https://github.com/theloosygoose/cpp-engine.git
[submodule "rust-sim"]
	path = rust-sim
	url = https://github.com/theloosygoose/rust-sim-engine
